<div class="container ">
  <h1 class="text-white text-center ">Education and Work Experience</h1>

  <div class="main-timeline text-white">
  <!-- start experience section-->
    <div class="timeline">
      <div class="icon">
      </div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">Present</span>
            <span class="year">2020</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Software Developer - API</h5>
        <p class="description">
          Backend Developer that creates and maintains technologies that are needed to power the component that can be seen in the user interface of websites. Usually develops API endpoints that make use of third-party integration. Documentation, testing, and debugs new features according to clients' requests are some of the primary duties.
        </p>
      </div>
    </div>
  <!-- end experience section-->

  <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
          <span class="month">1 Year</span>
          <span class="year">2019</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Laboratory Custodian</h5>
        <p class="description">
        Administrative position that handles all laboratory related activities given by the present curriculum manage by the school.
        </p>
      </div>
    </div>
  <!-- end experience section-->

  <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
          <span class="month">2 Years</span>
          <span class="year">2017</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Senior High School Teacher</h5>
        <p class="description">
          Senior High School Teacher that covers multiple general education and major subjects. Had become a research adviser for 2 years. Facilitates learning process and curriculum revision for STEM department. Handled major subjects like Physics and Chemistry and also teach general education subjects like Philosophy, Media Information Literacy, and Earth and Life Science.
        </p>
      </div>
    </div>
  <!-- end experience section-->

  <!-- start experience section-->
    <!-- <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
          <span class="month">2 Years</span>
          <span class="year">2018</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Graphic Designer</h5>
        <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
        </p>
      </div>
    </div> -->
  <!-- end experience section-->

  </div>
</div>