*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
}

.grid-container{
  display: grid;
  grid-template-columns: 100px 150px;
  grid-template-rows: 200px 200px;
  height: 100vh;
  border:10px solid teal;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.grid-items{
  background-color: #e3ed;
  border: 4px solid #76E6c7;
  padding:20px;
}