<div class="button-group">
    <button type="button" name="button" (click)="getInfoFromServiceClass1()">EmPloyee 1</button>
    <ul class = "list-group">
      <li *ngFor="let info of infoReceived1" class = "list-group-item">{{info}}</li>
    </ul>
    <pre></pre>
    <button type="button" name="button" (click)="getInfoFromServiceClass2()">EmPloyee 1</button>
    <ul class = "list-group">
      <li *ngFor="let info of infoReceived2" class = "list-group-item">{{info}}</li>
    </ul>
    <pre></pre>
    <button type="button" name="button" (click)="getInfoFromServiceClass3()">EmPloyee 1</button>
    <ul class = "list-group">
      <li *ngFor="let info of infoReceived3" class = "list-group-item">{{info}}</li>
    </ul>
    <pre></pre>
</div>