<div class="container px-4 px-lg-5">
  <!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
      <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="../../../assets/about.png" alt="..." /></div>
      <div class="col-lg-5 text-white vh-75">
          <h1 class="font-weight-light">About Me !!!</h1>
          <p >Passionate and output oriented software developer that has 1+ year of experience in converting business process flow to automated and computerized web applications. Currently employed as an API developer. I have handled multiple projects that uses various programming languages like Python, Javascript and PHP. The responsibilities attached to my position includes implementing, documenting and testing backend logics that helps the user interface to function as intended. </p>
          <a class="btn btn-info btn-sm fs-5 mt-3 rounded-pill" href="#!">Hire Me !!</a>
      </div>
  </div>
  <app-experience></app-experience>
  <app-skillsets></app-skillsets>
  